[Unit]
Description=Consul Agent
After=etc-environment.service
Requires=cloud-config.target


[Service]
User=consul
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul/conf.d >> /var/log/consul/agent.log

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target