[Unit]
Description=Nomad Agent
After=etc-environment.service
Requires=cloud-config.target

[Service]
User=nomad
EnvironmentFile=/etc/environment
{% if nomad_server_enabled %}
ExecStartPre=/usr/local/bin/generate_advertise.sh /etc/nomad/conf.d/advertise.hcl
{% endif %}
ExecStart=/usr/local/bin/nomad agent -config=/etc/nomad/conf.d >> /var/log/nomad/agent.log


ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target